<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
  <meta charset="UTF-8">
  <title>User management</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div layout:fragment="content" class="container">
  <div class="text-center">
    <div><h1>RDVs management</h1></div>
    <div class="mb-3"><a th:href="@{/rdvs/new/}" class="h4">Create new RDV</a></div>
    <div>
      <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Time</th>
          <th>Duration</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Phone number</th>
          <th>Procedure</th>
          <th>Discount</th>
          <th>Price</th>
          <th>Status</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="rdv:${rdvs}">
          <tr>
            <td>[[${rdv.id}]]</td>
            <td th:text="${#temporals.format(rdv.date, 'dd-MM-yyyy')}"></td>
            <td>[[${rdv.time}]]</td>
            <td>[[${T(place.reservation.reservations.pojo.DurationUtils).formatDuration(rdv.procedure.durationInMinutes)}]]</td>
            <td>[[${rdv.clientFirstName}]]</td>
            <td>[[${rdv.clientLastName}]]</td>
            <td>[[${rdv.clientEmail}]]</td>
            <td>[[${rdv.clientPhoneNumber}]]</td>
            <td>[[${rdv.procedure.name}]]</td>
            <td th:text="${T(place.reservation.reservations.pojo.NumberRepresentationUtils).formatNumberForView(rdv.discount)} + ' %'"></td>
            <td th:text="${T(place.reservation.reservations.pojo.NumberRepresentationUtils).formatNumberForView(rdv.procedure.price)} + ' EUR'"></td>
            <td>[[${rdv.rdvStatus}]]</td>
            <td>
              <a class="btn btn-primary btn-sm" th:href="@{'rdvs/edit/' + ${rdv.id} + '/'}">Edit</a>
              <a class="btn btn-danger btn-sm"
                 th:attr="onclick=|return confirm('Are you sure you want to delete user \u00AB${rdv.clientFirstName} ${rdv.clientLastName}\u00BB ?')|"
                 th:href="@{'/rdvs/delete/' + ${rdv.id}}">Delete</a>
            </td>
          </tr>
        </th:block>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>